In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import datetime as dt

In [45]:
#API
api = 'https://api.coinmarketcap.com/data-api/v3/cryptocurrency/listing?start=1&limit=3&sortBy=market_cap&sortType=desc&convert=USD&cryptoType=all&tagType=all&audited=false'
r = requests.get(api)
jsondata= r.json()
name =[]
for item in jsondata['data']['cryptoCurrencyList']:
    name.append(item['name'])
coin= [x.replace(" " , "-") for x in name]
coin = [x[:x.index('.')] if '.' in x else x for x in coin]
#coin as column of dataframe
df = pd.DataFrame(columns = coin)

In [46]:
def func ():
    time= dt.datetime.now()
    for i in coin:
        url = requests.get(f'https://coinmarketcap.com/currencies/{i}').text
        soup = BeautifulSoup(url , 'lxml')
        tag = soup.find('div', class_='sc-16r8icm-0 bILTHz')
        block = tag.find_all('div' , class_ = 'namePill')
        wl = block[-1].text.split()[1].replace(',','')
        wl = int(wl)
        df.loc[time , i]= wl
        
n = 0        
while n<3 :
    func()
    time.sleep(10)
    n+=1

In [47]:
df

                            Bitcoin Ethereum      BNB
2022-01-13 22:05:52.541328  2416724  2318064  1453828
2022-01-13 22:06:09.284355  2416724  2318064  1453828
2022-01-13 22:06:23.853970  2416724  2318064  1453828

In [48]:
df.reset_index()

                       index  Bitcoin Ethereum      BNB
0 2022-01-13 22:05:52.541328  2416724  2318064  1453828
1 2022-01-13 22:06:09.284355  2416724  2318064  1453828
2 2022-01-13 22:06:23.853970  2416724  2318064  1453828

In [50]:
df.index

DatetimeIndex(['2022-01-13 22:05:52.541328', '2022-01-13 22:06:09.284355',
               '2022-01-13 22:06:23.853970'],
              dtype='datetime64[ns]', freq=None)

In [36]:
df.to_csv('my_csv.csv', mode='a', header=False)

In [37]:
df_data_min = pd.read_csv('my_csv.csv')

In [38]:
df_data_min

                   Unnamed: 0  Bitcoin  Ethereum  BNB
0  2022-01-13 21:56:40.304833  2416647       NaN  NaN
1  2022-01-13 21:56:52.119098  2416647       NaN  NaN
2  2022-01-13 21:57:03.987800  2416647       NaN  NaN
3  2022-01-13 21:56:40.304833  2416647       NaN  NaN
4  2022-01-13 21:56:52.119098  2416647       NaN  NaN
5  2022-01-13 21:57:03.987800  2416647       NaN  NaN

In [39]:
df

                            Bitcoin Ethereum  BNB
2022-01-13 21:56:40.304833  2416647      NaN  NaN
2022-01-13 21:56:52.119098  2416647      NaN  NaN
2022-01-13 21:57:03.987800  2416647      NaN  NaN

In [ ]:
class Crypto:
    #initialize class
    def __init__():
        api = 'https://api.coinmarketcap.com/ \
        data-api/v3/cryptocurrency/listing?start=1&limit=3& \
        sortBy=market_cap&sortType=desc&convert=USD& \
        cryptoType=all&tagType=all&audited=false'
        r = requests.get(api)
        data= r.json()
        name =[]
        for item in jsondata['data']['cryptoCurrencyList']:
            name.append(item['name'])
        coin= [x.replace(" " , "-") for x in name]
        coin = [x[:x.index('.')] if '.' in x else x for x in coin]
        #coin as column of dataframe
        df = pd.DataFrame(columns = coin)
        
        
    
    def save_data(self):
        pass